@keyframes timer-progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.hero-banner {
    position: relative;
    overflow: hidden;


    .slides-wrapper {
        display: flex;
        width: 300vw;
        height: 100%;
        transition: transform 0.6s ease-in-out;
        overflow: hidden;

        .slide {
            position: relative;
            width: 100vw;
            height: 100vh;
            height: 100svh;
            flex-shrink: 0;
            /* Important pour que les slides ne se rétrécissent pas */
            display: flex;
            align-items: center;
            justify-content: center;
            /* Ajoutez ici un filtre sombre si nécessaire pour la lisibilité de l'overlay */
            box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.15);


            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.499);
                z-index: 1;
            }

            img {
                object-fit: cover;
                z-index: -1;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;
                width: 100%;
                z-index: 2;
                padding-bottom: 18rem;

                .texts {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    h1 {
                        font-size: 3.5rem;
                        line-height: 1;
                        font-weight: 900;
                        letter-spacing: -1px;
                        color: var(--project-white-primary-color);
                    }

                    a {
                        display: flex;
                        gap: 1rem;
                        font-size: 0.95rem;
                        color: var(--project-white-primary-color);
                        font-weight: 600;
                        cursor : pointer;
                        padding: 0.8rem 1.2rem;
                        border: 2px solid var(--project-white-primary-color);
                        width: fit-content;

                        &:hover{
                            color: var(--project-brown-primary-color);
                        }

                        span {
                            letter-spacing: 1px;
                        }

                        fa-icon {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }

    .overlay-section {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        .overlay-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            width: 100%;
            min-height: 120px;
            pointer-events: auto;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                max-width: 400px;
            }

            .overlay-item {
                position: relative;
                cursor: pointer;
                padding: 2rem 3rem;
                z-index: 9;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: var(--project-white-primary-color);
                    z-index: 9;
                }

                .timer-bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 3px;
                    background-color: var(--project-green-primary-color);
                    animation: timer-progress 7s linear infinite;
                    animation-play-state: paused;
                    z-index: 10;
                }

                .description {
                    max-width: 400px;
                    z-index: 20;
                    width: 100%;
                    font-size: 1rem;
                    line-height: 1.4;
                    font-weight: 400;
                    color: var(--project-white-primary-color);
                    opacity: 0.7;
                }
            }

            /* Style de l'élément actif */
            .active {
                opacity: 1;
                background: rgba(255, 255, 255, 0.24);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(15px);
                -webkit-backdrop-filter: blur(15px);
                z-index: 10;

                .timer-bar {
                    /* Le timer démarre lorsque l'élément est actif et le slide n'est pas en pause */
                    animation-play-state: running;
                }

                .description {
                    opacity: 1;
                    color: white;
                    text-shadow: 0 1px 20px black;
                }
            }
        }
    }
}