<header>
    <div class="content header-container">
        <div class="logo-wrapper">
            <img ngSrc="/images/logos/femahol-logo.png" alt="logo" fill priority>
        </div>
        <ul>
            <li>
                <a>LA FÉDÉRATION</a>
            </li>
            <li>
                <a>LES ACTIVITÉS</a>
            </li>
            <li>
                <a>LES ACTIONS</a>
            </li>
            <li>
                <a>JE MOBILISE</a>
            </li>
            <li>
                <a>JE SOUTIENS</a>
            </li>
            <li>
                <a><fa-icon [icon]="'faMagnifyingGlass' | convertStringLabelToFontawesomeIcon"></fa-icon></a>
            </li>
            <li>
                <a>JE DONNES</a>
            </li>
        </ul>
    </div>
</header>