@import url("primeicons/primeicons.css");
@import url("variables.scss");

@layer reset, primeng;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    font-size: 1rem;
  }

  body {
    font-family: "Inter", sans-serif;
    color: var(--project-black-primary-color);
  }

  .header-container {
    max-width: 1400px;
    padding: 0 1rem;
    width: 100%;
  }

  .my-container {
    max-width: 1300px;
    padding: 0 1rem;
    width: 100%;
  }


  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--project-black-primary-color);
  }

  .Facebook {
    &:hover {
      a {
        color: #1877F2 !important;
      }
    }
  }

  .Instagram {
    &:hover {
      a {
        color: #E1306C !important;
      }
    }
  }

  .Youtube {
    &:hover {
      a {
        color: #FF0000 !important;
      }
    }
  }

  .Whatsapp {
    &:hover {
      a {
        color: green !important;
      }
    }
  }
}